// COLORS
$color-primary-light: #ff3366;
$color-primary: #eb2f64;
$color-primary-dark: #ba265d;

$color-white: #ffffff;

$color-gray-light-1: #faf9f9;
$color-gray-light-2: #f4f2f2;
$color-gray-light-3: #f0eeee;
$color-gray-light-4: #cccccc;

$color-gray-dark-1: #333333;
$color-gray-dark-2: #777777;
$color-gray-dark-3: #999999;

$color-black-t-lighter: rgba(0, 0, 0, 0.05);
$color-black-t-light: rgba(0, 0, 0, 0.2);
$color-black-t-medium: rgba(0, 0, 0, 0.4);
$color-black-t-dark: rgba(0, 0, 0, 0.6);

// LINES
$line-gray: 0.2rem solid $color-gray-light-2;

// GRADIENTS
$gradient-primary: linear-gradient(
  to right,
  $color-primary-light,
  $color-primary-dark
);
$gradient-primary-light: linear-gradient(
  to right,
  lighten($color-primary-light, 5),
  lighten($color-primary-dark, 5)
);