*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // Definition for 1rem
  font-size: 62.5%;
  box-sizing: border-box;

  @include respond(sc-medium){
    font-size: 50%;
  }
}

body {
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
  background-size: cover;
  background-repeat: no-repeat;
  
  min-height: 100vh;
}
